
<div class="row mt-5">
  <div class="col-sm p-1">
    <table class="table table-striped">
        <tr>
          <th class="w-25"scope="col">Modelo</th>
          <td><%= produto.modelo %></td>
        </tr>
        <tr>
          <th scope="row">Valor</th>
          <td><%= produto.valor %></td>
        </tr>
        <tr>
          <th scope="row">Peso</th>
          <td><%= produto.peso %></td>
        </tr>
        <tr>
          <th scope="row">Metal</th>
          <td><%= produto.metal %></td>
        </tr>
        <tr>
          <th scope="row">Pedra</th>
          <td><%= produto.pedra %></td>
        </tr>
        <tr>
          <th scope="row">Descrição</th>
          <td><%= produto.descricao %></td>
        </tr>
      </tbody>
    </table>
  </div>